extends layout.pug

block content
  .container
    div(class="p-2")
      h2 About
      p(class="mb-0") Vidjot is a Idea sharing app in which you can jot down Ideas about your next YouTube video.
      p It's uses an Express Server and MongoDB for storing data.
      p(class="text-muted") Version 1.0.0