extends layout.pug

block content
  .container
    div(class="card card-body", style="max-width: 950px; margin: 0 auto;")
      h1 Video Ideas
      form(action="/ideas/add", method="POST")
        div(class="form-group")
          label(for="ideaTitle") Title
          input(type="text", required="true", id="ideaTitle", class="form-control", name="title")
        div(class="form-group")
          label(for="ideaDetails") Details
          textarea(name="details", required="true", id="ideaDetails" class="form-control")
        div
        button(type="submit" class="btn btn-primary") Submit Idea