extends layout.pug

block content
  .container
    if flash
      div(class=`alert alert-${flash.type}`, role="alert")
        div #{flash.message}
    div(class="card card-body")
      h1 Video Ideas
      p This is a video ideas
      form(action="/idea/delete", method="DELETE")
        button(type="submit" class="btn btn-danger") Delete