extends layout.pug

block content
  .container
    div(class="m-3 border px-2 py-5 bg-light")
      div(class="d-flex flex-column justify-content-center align-items-center")
        h1 Welcome
        p Jot down ideas for you next YouTube videos
        a(href="/", class="btn btn-dark text-light") Add Video Idea